In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score, f1_score, log_loss

In [2]:
param_array = pd.read_csv("parameters/parameter_array.csv").set_index("PARAM")

In [3]:
param_array

,AIRPORTS,LOOKAHEAD,DATA,CONFIG_SUPPORT,EPOCHS,NUMBER_TRIALS,PATIENCE
PARAM,,,,,,,
1,katl,1,PD,0,300,10,10
2,kclt,1,PD,0,300,10,10
3,kden,1,PD,0,300,10,10
4,kdfw,1,PD,0,300,10,10
5,kjfk,1,PD,0,300,10,10
...,...,...,...,...,...,...,...
716,kmem,12,PD_SM,1,300,10,10
717,kmia,12,PD_SM,1,300,10,10
718,kord,12,PD_SM,1,300,10,10
719,kphx,12,PD_SM,1,300,10,10
720,ksea,12,PD_SM,1,300,10,10

In [4]:
Param_Nums = []
DFs = []

Not_Finishes = []
for param in param_array.index:
    
    try:
        df = pd.read_csv(f"Results/Result_{param}/results_df.csv")
        Param_Nums.append(param)
        DFs.append(df)
        
        
    except:
        
        Not_Finishes.append(param)

    
df = pd.concat(DFs)
df["PARAM"] = Param_Nums
df = pd.merge(df, param_array, on="PARAM")

In [5]:
np.unique(df.columns)

array(['AIRPORTS', 'CONFIG_SUPPORT', 'DATA', 'EPOCHS', 'LOOKAHEAD',
       'NUMBER_TRIALS', 'PARAM', 'PATIENCE', 'Unnamed: 0',
       'config_support', 'norm_support', 'param', 'test_accuracy',
       'test_f1', 'test_loss', 'train_accuracy', 'train_f1', 'train_loss',
       'val_accuracy', 'val_f1', 'val_loss'], dtype=object)

In [18]:
pd.set_option("display.max_rows", 500)
df.groupby(["CONFIG_SUPPORT","DATA"]).mean()["val_loss"]

CONFIG_SUPPORT  DATA
0               PD       0.078579
                PD_SM    0.084508
                SM       0.086468
1               PD       0.075379
                PD_SM    0.076020
                SM       0.078536
Name: val_loss, dtype: float64

In [21]:
small_df = df[df.CONFIG_SUPPORT==1]
small_df.groupby(["AIRPORTS","LOOKAHEAD"]).mean()[["config_support","norm_support"]]

                    config_support  norm_support
AIRPORTS LOOKAHEAD
katl     1                0.875617         0.939
         2                0.620318         0.885
         3                0.550315         0.838
         4                0.343940         0.795
         5                0.414607         0.756
         6                0.347671         0.721
         7                0.356957         0.687
         8                0.348713         0.655
         9                0.329341         0.626
         10               0.227168         0.597
         11               0.228995         0.572
         12               0.300647         0.549
kclt     1                0.867755         0.931
         2                0.558158         0.874
         3                0.513954         0.822
         4                0.297068         0.774
         5                0.177761         0.727
         6                0.212170         0.683
         7                0.194974         0.640
         8                0.273612         0.599
         9                0.282934         0.560
         10               0.192883         0.522
         11               0.151765         0.485
         12               0.199514         0.452
kden     1                0.816371         0.797
         2                0.500633         0.625
         3                0.330249         0.522
         4                0.271995         0.440
         5                0.329882         0.377
         6                0.177164         0.322
         7                0.185522         0.286
         8                0.174512         0.252
         9                0.270701         0.222
         10               0.178610         0.194
         11               0.176400         0.175
         12               0.160980         0.162
kdfw     1                0.835865         0.910
         2                0.696253         0.832
         3                0.485089         0.766
         4                0.441712         0.708
         5                0.489522         0.657
         6                0.464154         0.609
         7                0.491438         0.565
         8                0.214717         0.523
         9                0.435973         0.483
         10               0.320673         0.446
         11               0.255612         0.411
         12               0.237830         0.378
kjfk     1                0.923272         0.954
         2                0.848450         0.911
         3                0.758296         0.872
         4                0.715002         0.838
         5                0.662605         0.807
         6                0.475980         0.779
         7                0.325922         0.752
         8                0.449645         0.726
         9                0.386647         0.703
         10               0.341216         0.682
         11               0.371340         0.662
         12               0.327299         0.643
kmem     1                0.873649         0.844
         2                0.562774         0.706
         3                0.493062         0.587
         4                0.228286         0.484
         5                0.281905         0.399
         6                0.157283         0.327
         7                0.235366         0.268
         8                0.159460         0.221
         9                0.166659         0.189
         10               0.148882         0.163
         11               0.161254         0.141
         12               0.199246         0.122
kmia     1                0.765278         0.929
         2                0.629135         0.865
         3                0.596384         0.807
         4                0.331185         0.755
         5                0.498187         0.707
         6                0.435404         0.662
         7                0.367606         0.618
         8                0.445775         0.576
         9                0.315782         0.536
         10               0.212223         0.497
         11               0.278258         0.459
         12               0.262443         0.422
kord     1                0.747448         0.786
         2                0.428285         0.615
         3                0.298890         0.504
         4                0.251203         0.427
         5                0.256444         0.376
         6                0.179082         0.344
         7                0.194746         0.324
         8                0.164156         0.312
         9                0.222028         0.306
         10               0.180322         0.296
         11               0.190195         0.277
         12               0.176434         0.253
kphx     1                0.840804         0.943
         2                0.695519         0.889
         3                0.599480         0.838
         4                0.493718         0.790
         5                0.453555         0.744
         6                0.414243         0.701
         7                0.193145         0.660
         8                0.195920         0.620
         9                0.165333         0.583
         10               0.138914         0.547
         11               0.200154         0.515
         12               0.144948         0.485
ksea     1                0.834646         0.964
         2                0.445849         0.931
         3                0.326350         0.905
         4                0.366381         0.880
         5                0.324677         0.857
         6                0.546520         0.835
         7                0.350690         0.814
         8                0.309039         0.794
         9                0.303786         0.776
         10               0.371532         0.758
         11               0.234389         0.743
         12               0.410687         0.730

In [20]:
small_df = df[df.CONFIG_SUPPORT==1]
df.groupby(["CONFIG_SUPPORT","DATA"]).mean()[["config_support","norm_support"]]

                      config_support  norm_support
CONFIG_SUPPORT DATA
0              PD          -1.000000      0.609050
               PD_SM       -1.000000      0.609050
               SM          -1.000000      0.609050
1              PD           0.427022      0.609050
               PD_SM        0.364605      0.619124
               SM           0.359381      0.609050

In [9]:
param_array.loc[Not_Finishes]

,AIRPORTS,LOOKAHEAD,DATA,CONFIG_SUPPORT,EPOCHS,NUMBER_TRIALS,PATIENCE
PARAM,,,,,,,
612,kclt,2,PD_SM,1,300,10,10
624,kdfw,3,PD_SM,1,300,10,10
636,kmem,4,PD_SM,1,300,10,10
648,kord,5,PD_SM,1,300,10,10
660,ksea,6,PD_SM,1,300,10,10
672,kclt,8,PD_SM,1,300,10,10
683,kden,9,PD_SM,1,300,10,10
684,kdfw,9,PD_SM,1,300,10,10
695,kjfk,10,PD_SM,1,300,10,10
696,kmem,10,PD_SM,1,300,10,10
707,kmia,11,PD_SM,1,300,10,10
708,kord,11,PD_SM,1,300,10,10
715,kjfk,12,PD_SM,1,300,10,10
719,kphx,12,PD_SM,1,300,10,10
720,ksea,12,PD_SM,1,300,10,10