In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score, f1_score, log_loss

In [2]:
param_array = pd.read_csv("parameters/parameter_array.csv").set_index("PARAM")

In [3]:
param_array

,AIRPORTS,LOOKAHEAD,DATA,CONFIG_SUPPORT,EPOCHS,NUMBER_TRIALS,PATIENCE
PARAM,,,,,,,
1,katl,1,PD,0,200,3,30
2,kclt,1,PD,0,200,3,30
3,kden,1,PD,0,200,3,30
4,kdfw,1,PD,0,200,3,30
5,kjfk,1,PD,0,200,3,30
...,...,...,...,...,...,...,...
716,kmem,12,PD_SM,1,200,3,30
717,kmia,12,PD_SM,1,200,3,30
718,kord,12,PD_SM,1,200,3,30
719,kphx,12,PD_SM,1,200,3,30
720,ksea,12,PD_SM,1,200,3,30

In [18]:
Param_Nums = []
DFs = []

Not_Finishes = []
for param in param_array.index:
    
    try:
        df = pd.read_csv(f"Results/Result_{param}/results_df.csv")
        Param_Nums.append(param)
        DFs.append(df)
        
        
    except:
        
        Not_Finishes.append(param)

    
df = pd.concat(DFs)
df["PARAM"] = Param_Nums
df = pd.merge(df, param_array, on="PARAM")

In [19]:
np.unique(df.LOOKAHEAD)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [24]:
df.columns

Index(['Unnamed: 0', 'param', 'train_loss', 'val_loss', 'test_loss',
       'train_accuracy', 'val_accuracy', 'test_accuracy', 'train_f1', 'val_f1',
       'test_f1', 'PARAM', 'AIRPORTS', 'LOOKAHEAD', 'DATA', 'CONFIG_SUPPORT',
       'EPOCHS', 'NUMBER_TRIALS', 'PATIENCE'],
      dtype='object')

In [25]:
df.groupby(["CONFIG_SUPPORT","DATA"]).mean()["test_accuracy"]

CONFIG_SUPPORT  DATA
0               PD       0.661580
                PD_SM    0.637495
                SM       0.641174
1               PD       0.623898
                PD_SM    0.637793
                SM       0.624946
Name: test_accuracy, dtype: float64

In [21]:
param_array.loc[Not_Finishes]

,AIRPORTS,LOOKAHEAD,DATA,CONFIG_SUPPORT,EPOCHS,NUMBER_TRIALS,PATIENCE
PARAM,,,,,,,
72,kclt,8,PD,0,200,3,30
408,kord,5,PD,1,200,3,30
412,kclt,6,PD,1,200,3,30
470,ksea,11,PD,1,200,3,30
509,kphx,3,SM,1,200,3,30
529,kphx,5,SM,1,200,3,30
545,kjfk,7,SM,1,200,3,30
554,kdfw,8,SM,1,200,3,30
558,kord,8,SM,1,200,3,30
571,katl,10,SM,1,200,3,30
574,kdfw,10,SM,1,200,3,30
638,kord,4,PD_SM,1,200,3,30
647,kmia,5,PD_SM,1,200,3,30
653,kden,6,PD_SM,1,200,3,30
675,kjfk,8,PD_SM,1,200,3,30
684,kdfw,9,PD_SM,1,200,3,30
686,kmem,9,PD_SM,1,200,3,30
694,kdfw,10,PD_SM,1,200,3,30
706,kmem,11,PD_SM,1,200,3,30
713,kden,12,PD_SM,1,200,3,30